body {
    background-color: black;
    text-align: center;
}

* {
    margin: 0;
}

h1 {
    color: white;
    font-family: Arial, serif;
}

button, .file-input-label {
    display: inline-block;
    background-color: white;
    font-size: 20px;
    padding: 5px 7px 7px 5px;
    border: none;
    border-radius: 5px;
    text-shadow: 1px 1px black;
    cursor: pointer;
}

button:hover{
    background: gray;
}

input[type="file"] {
    display: none;
}

#canvas {
    background-color: #2a5;
}

#miniMapCanvas{
    background:black;
}

#networkCanvas{
    background:black;
}

.container {
    background: darkgray;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#verticalButtons {
    display: flex;
    flex-direction: column;
    margin: 5px;
    button:first-child {
        margin-bottom: 5px;
    }
}